<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='./about.css')}}">
</head>

<body>
    <aside class="sidenav">
        <div class="logo">
            <a href="/about"><img src="static/LOGO" alt="LOGO"></a>
        </div>
        <div class="menulink">
            <a href="/home"><i class="fas fa-home"></i><span>Home</span></a>
            <a href="/about" id="highlight"><i class="fas fa-search"></i> <span>About</span> </a>
        </div>
        <div class="buttons">
            <a href="/"><button type="button" class="btn btn-light">Log Out</button></a>
        </div>
        <div class="cookie col-md-12 text-center">
            <div class="col-md-4  col-sm-12 ">
                <a href="/about">&#169;<br>2022 CODE GALACTRIX</a>
            </div>
            <div class="col-md-2 col-sm-12">  </div>
            <div class="col-md-6 col-sm-12">
                <a href="#"></a>
            </div>
        </div>
    </aside>
    <main>
        <div class="container-flex ptb-30 plb-20">
            <div class=" navbar">
                <ul class="list-inline">
                    <li><a href="#topSongs">Top Songs</a></li>
                    <li><a href="#newest">Newest First</a></li>
                    <li><a href="#">Podcasts</a></li>
                    <li><a href="#">Search</a></li>
                </ul>
            </div>
        </div>
    </main>
    <div class="about">
        <h2 align="center">DecenMusic</h2>
        <h3 align="center">BAS BAJNA CHAHIYE GAANA</h3>

        <p align="center">Music is known to be effective for mood improvement.<br> It
            has the power to change ones overall frame of mind.<br> Music
            also plays a very big role in changing the atmosphere and
            influencing the ambience of any place.<br> Seeing how much of
            a great impact music has on everyone’s lives<br> we need a
            stable service to fulfil a few requirements that would make
            <br>listening to music a better experience
            </p>
    </div>
</body>

</html>