<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
</head>

<body>

    <aside class="sidenav">
        <div class="logo">
            <a href="#"><img src=" {{url_for( 'static',filename='LOGO')}}" alt="LOGO HERE"></a>
        </div>
        <div class="menulink">
            <a href="/App/templates/index.html"><i class="fas fa-home"></i><span>Home</span></a>
            <a href="/search"><i class="fas fa-search"></i> <span>Search</span> </a>
        </div>
        <div class="buttons">
            <a href="{{'/login'}}"><button type="button" class="btn btn-light">Log In</button></a>
        </div>
        <!-- <div class="buttons">
            <a href="/App/templates/index.html"><button type="button" class="btn btn-light">Log Out</button></a>
        </div> -->
        <div class="cookie col-md-12 text-center">
            <div class="col-md-4  col-sm-12 ">
                <a href="/about">Copyright &#169;<br>CODE GALACTIX</a>
            </div>
            <div class="col-md-2 col-sm-12">  </div>
        </div>
    </aside>

    <main>
        <div class="container-flex ptb-30 plb-20">
            <div class=" navbar">
                <ul class="list-inline">
                    <li><a href="#topSongs">Top Songs</a></li>
                    <li><a href="#newest">Newest First</a></li>
                    <li><a href="#">Podcasts</a></li>
                    <li><a href="{{'/index'}}">Search engine</a></li>
                </ul>
            </div>
        </div>
        <div class="title plb-20" id="topSongs">
            <h1><strong>TOP SONGS</strong></h1>
        </div>
        </div>
        <div class=" container-flex text-center">
            <div class="music-card">
                <a href="{{url_for( 'static',filename='')}}"><img src=" {{url_for( 'static',filename='pic.webp')}}" alt=""></a>
                <p>BEST OF ARIJIT SINGH</p>
            </div>
            <div class="music-card">
                <a href="{{url_for( 'static',filename='')}}"><img src=" {{url_for( 'static',filename='pic.webp')}}" alt=""></a>
                <p>BEST OF ARIJIT SINGH</p>
            </div>
            <div class="music-card">
                <a href="{{url_for( 'static',filename='')}}"><img src=" {{url_for( 'static',filename='pic.webp')}}" alt=""></a>
                <p>BEST OF ARIJIT SINGH</p>
            </div>
            <div class="music-card">
                <a href="{{url_for( 'static',filename='')}}"><img src=" {{url_for( 'static',filename='pic.webp')}}" alt=""></a>
                <p>BEST OF ARIJIT SINGH</p>
            </div>
            <div class="music-card">
                <a href="{{url_for( 'static',filename='')}}"><img src=" {{url_for( 'static',filename='pic.webp')}}" alt=""></a>
                <p>BEST OF ARIJIT SINGH</p>
            </div>
            <div class="music-card">
                <a href="{{url_for( 'static',filename='')}}"><img src=" {{url_for( 'static',filename='pic.webp')}}" alt=""></a>
                <p>BEST OF ARIJIT SINGH</p>
            </div>
            <div class="music-card">
                <a href="{{url_for( 'static',filename='')}}"><img src=" {{url_for( 'static',filename='pic.webp')}}" alt=""></a>
                <p>BEST OF ARIJIT SINGH</p>
            </div>
            <div class="music-card">
                <a href="{{url_for( 'static',filename='')}}"><img src=" {{url_for( 'static',filename='pic.webp')}}" alt=""></a>
                <p>BEST OF ARIJIT SINGH</p>
            </div>
            <div class="music-card">
                <a href="{{url_for( 'static',filename='')}}"><img src=" {{url_for( 'static',filename='pic.webp')}}" alt=""></a>
                <p>BEST OF ARIJIT SINGH</p>
            </div>
            <div class="music-card">
                <a href="{{url_for( 'static',filename='')}}"><img src=" {{url_for( 'static',filename='pic.webp')}}" alt=""></a>
                <p>BEST OF ARIJIT SINGH</p>
            </div>
        </div>
        <div class="container-flex" id="newest">
            <div class="title plb-20">
                <h1><strong>Trending New</strong></h1>
            </div>
        </div>
        <div class="container-flex text-center">
            <div class="music-card">
                <a href="{{url_for('static',filename='#')}}"><img src=" {{url_for( 'static',filename='rrr.jpg' )}} " alt=""></a>
                <p>RRR</p>
            </div>
            <div class="music-card">
                <a href="{{url_for('static',filename='#')}}"><img src=" {{url_for( 'static',filename='bachan.jpg' )}} " alt=""></a>
                <p>Bachaan Pandey</p>
            </div>
            <div class="music-card">
                <a href="{{url_for( 'static',filename='#')}}"><img src="{{url_for('static',filename='rrr.jpg')}}" alt=""></a>
                <p>Sooryavanshi</p>
            </div>

        </div>
    </main>


    <footer>
        <div class="playmusic text-center">
            <ul class="list-inline">
                <li><a href="{{url_for( 'static',filename='#')}}"><i class="fas fa-random"></i></a></li>
                <li><a href="{{url_for( 'static',filename='#')}}"><i class="fas fa-step-backward"></i></i></a></li>
                <li><a href="{{url_for( 'static',filename='#')}}"><i class="far fa-play-circle"></i></a></li>
                <li><a href="{{url_for( 'static',filename='#')}}"><i class="fas fa-step-forward"></i></a></li>
                <li><a href="{{url_for( 'static',filename='#')}}"><i class="fas fa-redo"></i></a></li>
            </ul>
        </div>

    </footer>
</body>

</html>